
/* Home Screen */

.home-container {
  text-align: center;
  margin-top: 100px;
}

.home-container p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #252525;
}

.home-container h2 {
  text-align: center;
  font-size: 38px;
}

.home-container h3 {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
}

.home-container h4 {
  text-align: center;
  font-size: 24px;
}

.icon-button {
  /* Set initial styles for the icon button */
  width: 75px;
  height: 75x;
  margin: 10px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 50%; /* Make the button circular */
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
}

.icon-button:hover {
  cursor: pointer;
  width: 90px; /* Increase width on hover */
  height: 90px; /* Increase height on hover */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px; /* Adjust margin-top as needed */
}

.icon-button-wrapper {
  text-align: center;
  margin: 0 20px; /* Adjust horizontal margin as needed */
}

.button-text {
  margin-top: 5px;
  font-size: 16px;
  color: #252525;
}



/* Dates Game */

body {
  font-family: 'Staatliches', cursive;
}

.container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

/* Default styles for both PC and mobile */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

/* Media query for PC (min-width: 768px) */
@media (min-width: 768px) {
  .menu {
    width: 96%;
  }
}

/* Media query for mobile devices (max-width: 767px) */
@media (max-width: 767px) {
  .menu {
    width: 80%;
  }
}

h1 {
  font-family: 'Staatliches', cursive;
  margin-top: 23px;
}


.tab {
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: inline-block;
  transition: background-color 0.3s ease;
  font-family: 'Staatliches', cursive;
  font-size: 18px; /* Adjusted font size */
  text-align: center;
  line-height: 50px;
}

.tab:hover {
  background-color: #e6e6e6;
  color: #000000;
  font-family: 'Staatliches', cursive;
  font-weight: 700;
  font-size: 18px; /* Adjusted font size */
}

.tab.active {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Staatliches', cursive;
  font-weight: 700;
  font-size: 18px; /* Adjusted font size */
  background-color: #ffffff;
  width: 100px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

#DatesContent {
  display: block;
}

#HomeContent {
  display: block;
}

.event {
  border-radius: 5px;
  font-size: 20px;
  position: relative; /* Add relative positioning */
  background-color: #ffffff;
  border: none;
}

.event-description {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
  margin: 15px auto; /* Center horizontally */
  padding: 20px;
  max-width: 600px; /* Limit the maximum width if necessary */
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 22px;
  height: 65px;
}

.feedback {
  font-weight: bold;
  margin-top: 0px;
  font-weight: 800;
  position: relative;
}

button {
  margin-top: 15px;
  width: 80px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -20px; /* Adjust this value to move the buttons down */
}

.action-button {
  background-color: #f0f9ff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.menu-button,
.restart-game-button,
.next-button {
  color: rgb(255, 255, 255);
  background-color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: -5px;
  margin-top: 15px;
  width: 110px;
  font-family: 'Staatliches', cursive;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth color change */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.menu-button:hover,
.restart-game-button:hover,
.next-button:hover {
  background-color: #ffffff; /* Change background color on hover */
  color: #000; /* Change text color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gamemode-box {
  width: 75px;
  height: 25px;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  bottom: 85px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px -4px 6px rgba(0, 0, 0, 0); /* Add box shadow */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.gamemode-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 14px;
}

.gamemode-box:hover {
  background-color: rgb(255, 255, 255);
}

.gamemode-box:hover .gamemode-text {
  color: rgb(0, 0, 0);
}

.gamemode-text {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap; /* Prevent text from wrapping */
  font-family: 'Staatliches', cursive;
  color: #ffffff;
}

.highestScore-box {
  width: 75px;
  height: 25px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 596px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px -4px 6px rgba(0, 0, 0, 0); /* Add box shadow */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highestScore-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 14px;
}

.highestScore-box:hover {
  background-color: rgb(255, 255, 255);
}

.highestScore-box:hover .gamemode-text {
  color: rgb(0, 0, 0);
}

.highestScore {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap; /* Prevent text from wrapping */
  font-family: 'Staatliches', cursive;
  color: #ffffff;
  display: none;
}

.topScore {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap; /* Prevent text from wrapping */
  font-family: 'Staatliches', cursive;
  color: #ffffff;
}

/* Styles for smaller screens (mobile devices) */
@media (max-width: 767px) {
  .gamemode-box {
    background-color: rgba(0, 0, 0);
  }

  .gamemode-box .gamemode-text {
    color: white;
  }
}

.year-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 90px;
}

.year-digit {
  width: 75px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  margin: 0 5px;
  background-color: #f0ffff; /* Reset box color to default */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent; /* Hide the font */
}

/* Add this CSS to handle the touch interaction */
.year-digit:active {
  transform: scale(1); /* Reset the scale to normal */
}

#yearInput:hover {
  border-color: #313030;
}

.correct-year {
  color: #86dc3d; /* Green color for correct year */
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: 900;
}

.number-button {
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transform transition */
  width: 40px;
  height: 40px;
  font-weight: 550;
}

.number-button:hover {
  transform: scale(1.25); /* Increase size by 25% (10px) on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


/* Add this animation style to your existing CSS */
@keyframes wiggle {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}

/* Add this animation class to your existing CSS */
.wiggle-animation {
  animation: wiggle 0.2s ease-in-out 2; /* Run the animation twice */
}

/* Add this CSS to your existing styles */
.popup-message {
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none; /* Prevent interaction with the hidden pop-up */
  transition: opacity 0.5s ease-in-out;
}

.button-icon {
  width: 55px;
  height: 55px;
  vertical-align: middle;
  transition: transform 0.2s ease-in-out;
}

.button-icon:hover {
  transform: scale(1.2); /* Add a slight zoom effect on hover */
}

#backspaceButton:hover #backspaceImage {
  content: url('./assets/icons/backspace-hover.png');
}

/* Add this to your styles.css */
#clearButton:hover #clearImage {
  content: url('./assets/icons/delete-hover.png');
}

#submitGuess:hover #submitImage {
  content: url('./assets/icons/accept-hover.png');
}

/* Styles for the top bar */
.top-bar {
  text-align: center; /* Center the tabs */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  z-index: 100; /* Ensure the top bar is above other elements */
  margin-bottom: 20px; /* Add margin below the top bar */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo img {
  height: 50px; /* Adjust the height to make the logo smaller */
  margin-right: 10px; /* Reduce the margin */
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the icons to the right */
}

.event-type-button {
  /* Common styles for tab buttons */
  font-size: 18px;
  padding: 10px 10px; /* Add horizontal padding for better spacing */
  border-radius: 5px;
  font-family: 'Staatliches', cursive;
  transition: background-color 0.3s, color 0.3s; /* Add transitions for smooth changes */
  color: #000000;
  text-align: center;
  width: 100px;
  
}

.event-type-button.active {
  /* Styles for the active tab */
  background-color: #000000;
  border-color: #ccc;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-type-button:hover {
  /* Styles for the active tab */
  background-color: #000000;
  border-color: #ccc;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-type-buttons-container {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  max-width: 600px;
  margin: 0 auto;
}

.rating, .rating-value, .score-item.rating, .score-item.rating-value {
  visibility: hidden;
}

.score-rating-container p {
  font-size: 18px;
  margin: 0px 30px; /* 10px bottom, 20px sides */
  width: auto; /* Reset width */
}
/* Hide the hidden class */
.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

/* Style the parent container for score and rating */
.score-rating-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute elements evenly */
  flex-direction: row; /* Vertically align elements */
  align-items: center; /* Horizontally center elements */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 92%; /* Default to 100% width */
  font-size: 20px;
  font-weight: 550;
  margin: 0 auto;
  z-index: 1;
}

/* Media query for screens with a width of 600px or wider */
@media (min-width: 600px) {
  .score-rating-container {
    width: 600px; /* Set width to 600px on wider screens */
    left: calc(50%); /* Center horizontally with 600px width */
  }
}


/* Style the specific elements inside the score-rating-container */
.score-rating-container .combo-value,
.score-rating-container .rating-value,
.score-rating-container .total-health-value,
.score-rating-container .round-value {
  font-size: 18px;
  font-family: 'Staatliches', cursive;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping */
}

.score-rating-container .combo-value,
.score-rating-container .rating-value,
.score-rating-container .total-health-value,
.score-rating-container .round-value {
  font-size: 28px;
  font-weight: 700;
}

#resume-button:hover {
  background-color: #333; /* Change background color on hover */
}

/* Add styles for the pop-up buttons */
.start-game-button,
.freeplay-button,
.resume-button {
  background-color: #000000;
  width: 200px;
  color: #ffffff;
  font-size: 26px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Staatliches', cursive;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.start-game-button:hover,
.freeplay-button:hover,
.resume-button:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* Add styles for the pop-up overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay is on top */
  visibility: hidden; /* Hide the overlay by default */
  opacity: 0; /* Start with 0 opacity */
  transition: visibility 0s, opacity 0.5s;
}

/* Styles for the popup message */
.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 1001;
  max-width: 400px; /* Adjust the maximum width as needed */
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1001; /* Make sure it's above the overlay */
}

#gameOverPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* CSS styles */
.game-over-image {
  width: 100px; /* Set the width to your desired size */
  height: 100px; /* Set the height to your desired size */
}


#warningPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  font-size: 22px;
}

/* Style for the Yes button */
#confirmButton, #cancelButton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px; /* Add some spacing between buttons */
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  border-radius:  10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#confirmButton:hover, #cancelButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Style for the custom modal */
.custom-restart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.restart-content {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  width: 350px;
  height: 125px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto; /* Center horizontally */
  margin-top: 50vh; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* Style for the Yes button */
#confirm-restart, #cancel-restart {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px; /* Add some spacing between buttons */
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  border-radius:  10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#confirm-restart:hover, #cancel-restart:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.popup-content {
  background-color: #fff;
  margin: 0 auto; /* Center horizontally */
  position: absolute;
  top: 50%; /* Position at 50% from the top */
  left: 50%; /* Position at 50% from the left */
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style the "Play Again" and "Freeplay" buttons */
#playAgainButton,
#freeplayAgainButton {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Staatliches', cursive;
  transition: background-color 0.3s, color 0.3s;
  width: 110px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#playAgainButton:hover,
#freeplayAgainButton:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Hide the rules popup by default */
.rules-popup {
  margin-top: 55px;
}

/* Add this CSS to style the health deduction element */
.health-deduction {
  position: absolute;
  font-size: 24px;
  color: red;
  display: none;
  animation: fadeOut 3s forwards;
  margin-top: -32.5px;
  margin-left: 75px;
}

.highlight-textbox {
  color: rgb(255, 255, 255);
  font-weight: 900;
  background-color: #000000;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.red-text {
  color: #ff0000;
}

.green-text {
  color: #008000;
}

.health-increment {
  position: absolute;
  font-size: 24px;
  color: green; /* Set the color to green */
  display: none;
  animation: fadeOut 3s forwards;
  margin-top: -32.5px;
  margin-left: 75px;
}


/* Add this CSS for the fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#topScore {
  position: absolute;
  right: 20px;
  font-size: 24px;
}


/* Capitals */

#game-container {
  text-align: center;
  margin-top: 50px;
}

.container {
  text-align: center;
  margin-top: 50px;
}

#country-name {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
  margin: 15px auto; /* Center horizontally */
  padding: 20px;
  max-width: 600px; /* Limit the maximum width if necessary */
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 22px;
  height: 65px;
}

#user-guess {
  padding: 15px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent; /* Remove background color */
  color: #000000;
  text-align: center;
  max-width: 600px;
  transition: border-color 0.3s; /* Add transition for border color change */
  width: 100%;
  border-bottom: 3px solid #000000; /* Add a solid underline (adjust the color and thickness as needed) */
  font-size: 26px;
  font-family: 'Staatliches', cursive;
  font-weight: 600;
  border-radius: 4px;
}

#user-guess:focus {
  font-size: 26px;
  border-color: transparent; /* Set border color to transparent when input is focused */
  outline: none; /* Remove the blue outline when input is clicked (for accessibility) */
  max-width: 600px; /* Limit the maximum width if necessary */
  border-bottom: 3px solid #000000; /* Maintain the underline effect when input is focused */
}

#submitGuessButton, #nextQuestionButton, #restartButton {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: 'Staatliches', cursive;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 110px;
  font-size: 18px;
  font-weight: 400;
}

#submitGuessButton:hover, #nextQuestionButton:hover, #restartButton:hover {
  background-color: #ffffff; /* Change background color on hover */
  color: #000; /* Change text color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flag-icon {
  width: 50px; /* Adjust the width and height as needed */
  height: 50px;
  border-radius: 50%; /* Make it circular */
  margin-left: 10px; /* Add some space between the flag and the country name */
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out; /* Adjust the duration and timing function as needed */
}

/* CSS code to change font and color of the input placeholder text */
#user-guess::placeholder {
  font-family: "Your Desired Font", sans-serif; /* Replace "Your Desired Font" with the font you want to use */
  color: rgb(0, 0, 0, 0.4); /* Replace #FF0000 with the desired color code */
  font-family: 'Staatliches', cursive;
  font-size: 22px;
}

#capitalGameOverPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#capitalGameOverPopup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1001; /* Make sure it's above the overlay */
}

#capitalGameOverPopup h2 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 20px;
}

#capitalGameOverPopup p {
  font-size: 18px;
  margin-bottom: 10px;
}

#capitalGameOverPopup h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#capitalGameOverPopup button {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Staatliches', cursive;
  transition: background-color 0.3s, color 0.3s;
  width: 110px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#capitalGameOverPopup button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#funFactBox {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  padding: 10px;
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
  z-index: 0;
  position: fixed;
  left: 50%; /* Center the fun fact box horizontally */
  transform: translateX(-50%); /* Center the fun fact box horizontally */
  width: 300px;
  text-align: center;
}

#funFactContent {
  font-size: 16px;  
  margin: 0;
}

/* Media query for mobile devices */
@media (max-width: 766px) {
  #funFactBox {
    bottom: 100px; /* Adjust the bottom position for mobile devices */
    width: 300px;
  }
}

/* Media query for desktop devices */
@media (min-width: 768px) {
  #funFactBox {
    bottom: 97.5px; /* Adjust the bottom position for desktop devices */
    width: 400px;
  }
}

/* Flash animation for health deduction/increment */
.capital-health-deduction,
.capital-health-increment {
  opacity: 0;
  font-size: 24px;
  position: absolute;
  left: calc(50% + 44px); /* Fix the elements horizontally at 10px to the right of the center */
  bottom: 23%; /* Fix the elements vertically at 10% from the bottom */
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out;
}

.capital-health-increment {
  color: green;
}

.capital-health-deduction {
  color: red;
}

.difficulty-type-buttons-container {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  max-width: 600px;
  margin: 0 auto;
}

.difficulty-type-button {
  /* Common styles for tab buttons */
  font-size: 18px;
  padding: 10px 10px; /* Add horizontal padding for better spacing */
  border-radius: 5px;
  font-family: 'Staatliches', cursive;
  transition: background-color 0.3s, color 0.3s; /* Add transitions for smooth changes */
  color: #000000;
  text-align: center;
  width: 100px;
  
}

.difficulty-type-button.active {
  /* Styles for the active tab */
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.difficulty-type-button:hover {
  /* Styles for the active tab */
  background-color: #000000;
  border-color: #ccc;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.difficulty-type-buttons-container {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  max-width: 600px;
  margin: 0 auto;
}

#warningCapitalPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  z-index: 999;
}

/* Style for the Yes button */
#confirmCapitalButton, #cancelCapitalButton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px; /* Add some spacing between buttons */
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  border-radius:  10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#confirmCapitalButton:hover, #cancelCapitalButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}